[submodule "extlibs/imgui"]
	path = extlibs/imgui
	url = git://github.com/cgloeckner/imgui
[submodule "extlibs/sfml"]
	path = extlibs/sfml
	url = git://github.com/sfml/sfml
[submodule "extlibs/thor"]
	path = extlibs/thor
	url = git://github.com/Bromeon/Thor
